<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LeapMotion Demo - By Karoline Klever</title>
    <link rel="stylesheet" type="text/css" href="styles/site.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
</head>
<body>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div class="settings">
                <label>Flickr Photoset Id:</label><input type="text" id="photoSetId" value="72157631633778491" />
            </div>
            <div class="settings">
                  <label>Flickr API Key:</label><input type="text" id="apiKey" />
            </div>
            <div class="settings">
                <label>Previous Flickr ping (epoch):</label>
                <input id="lastchecked" type="text" value="0" />
            </div>
            <div class="carousel-wrapper">
                <div ng-app="BasicSlider">
                    <div id="controller" ng-controller="CarouselDemoCtrl">
                        <carousel interval="-1">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
                        <ol class="thumbnails">
                            <li ng-repeat="slide in slides">
                                <div style="overflow: hidden; height: 113px;">
                                    <a href ng-click="selectSlide(slide)">
                                        <img ng-src="{{slide.image}}" width="200px">
                                    </a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; Karoline Klever - Epinova</p>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="//js.leapmotion.com/0.2.0/leap.min.js"></script>
    <script src="scripts/ui-bootstrap-custom-0.5.0.js" type="text/javascript"></script>
    <script src="scripts/carousel.js" type="text/javascript"></script>
    <script src="scripts/leapmotiondemo.js" type="text/javascript"></script>
</body>
</html>
